// abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// base
@import "base/reset";
@import "base/typography";
@import "base/globals";

// layout
@import "layout/header";
@import "layout/footer";

// components
@import "components/button";
@import "components/board";
@import "components/modal";
@import "components/form-input";
@import "components/textarea-field";

// pages
@import "pages/home";
