@import "../abstracts/variables";

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

body {
  font-family:
    var(--font-geist-sans),
    "Segoe UI",
    "Helvetica Neue",
    Arial,
    sans-serif;
  font-size: $font-size-base;
  line-height: 1.45;
}
